.orders-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.loading-indicator,
.no-orders {
  text-align: center;
  font-size: 16px;
  color: gray;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px; /* Стандартный размер шрифта */
}

  .orders-table th,
  .orders-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  .orders-table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
  }

  .orders-table td {
    color: #555;
  }

.order-name {
  font-weight: bold;
  color: #088318; /* Зеленый цвет для названия заказа */
}

.order-status {
  color: #007bff; /* Синий цвет для статуса */
}

.total-price {
  color: #d9534f; /* Красный цвет для общей цены */
}

.created-at {
  color: #6c757d; /* Серый цвет для даты */
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .orders-table {
    font-size: 12px; /* Ещё меньший шрифт на узких экранах */
  }

    .orders-table th,
    .orders-table td {
      padding: 8px; /* Уменьшение отступов для более компактного отображения */
    }

    .orders-table td {
      word-wrap: break-word; /* Перенос длинных слов (например, названия товаров) */
    }

  h1 {
    font-size: 20px; /* Уменьшение размера заголовка */
  }
}

/* Адаптация для экранов от 768px до 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .orders-table {
    font-size: 13px; /* Немного больший шрифт для планшетов */
  }

    .orders-table th,
    .orders-table td {
      padding: 9px; /* Немного большее пространство на экранах планшетов */
    }

  h1 {
    font-size: 22px; /* Уменьшение заголовка на средних экранах */
  }
}

/* Адаптация для больших экранов (больше 1024px) */
@media (min-width: 1024px) {
  .orders-table {
    font-size: 14px; /* Стандартный размер шрифта для больших экранов */
  }

    .orders-table th,
    .orders-table td {
      padding: 10px; /* Стандартные отступы */
    }

  h1 {
    font-size: 24px; /* Стандартный размер заголовка */
  }
}
