<div class="auth-container">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="auth-form">

    <div *ngIf="generalErrorMessages.length > 0" class="error-messages">
      <ul>
        <li *ngFor="let errorMessage of generalErrorMessages">{{ errorMessage }}</li>
      </ul>
    </div>

    <input formControlName="userName" placeholder="User Name" />
    <div class="error-message">
      {{ loginForm.get('userName')?.getError('serverError') }}
    </div>

    <input formControlName="password" placeholder="Password" type="password" />
    <div class="error-message">
      {{ loginForm.get('password')?.getError('serverError') }}
    </div>
    <button type="submit" class="auth-button">Log In</button>
  </form>
  <div class="footer-links">
    <a href="/forgot-password" class="link">Forgot Password?</a>
    <a routerLink="/user/register" class="link">Register</a>
  </div>
</div>
