<div class="auth-container">
  <h3>Register</h3>

  <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <div *ngIf="generalErrorMessages.length > 0" class="error-messages">
      <ul>
        <li *ngFor="let errorMessage of generalErrorMessages">{{ errorMessage }}</li>
      </ul>
    </div>

    <input formControlName="firstName" placeholder="First Name" />
    <div class="error-message">
      {{ registerForm.get('firstName')?.getError('serverError') }}
    </div>

    <input formControlName="lastName" placeholder="Last Name" />
    <div class="error-message">
      {{ registerForm.get('lastName')?.getError('serverError') }}
    </div>

    <input formControlName="email" placeholder="Email" />
    <div class="error-message">
      {{ registerForm.get('email')?.getError('serverError') }}
    </div>

    <input formControlName="userName" placeholder="Username" />
    <div class="error-message">
      {{ registerForm.get('userName')?.getError('serverError') }}
    </div>

    <input formControlName="phoneNumber" placeholder="Phone Number" />
    <div class="error-message">
      {{ registerForm.get('phoneNumber')?.getError('serverError') }}
    </div>

    <input formControlName="password" placeholder="Password" type="password" />
    <div class="error-message">
      {{ registerForm.get('password')?.getError('serverError') }}
    </div>

    <div class="lbl"><label for="dateOfBirth">Date of Birth</label></div>
    <input formControlName="dateOfBirth" id="dateOfBirth" type="date" />
    <div class="error-message">
      {{ registerForm.get('dateOfBirth')?.getError('serverError') }}
    </div>

    <button type="submit" class="auth-button">Register</button>
  </form>
</div>
