<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
  <div class="offcanvas-header justify-content-between align-items-center">
    <h4 class="mb-0 d-flex align-items-center">
      <svg width="24" height="24" class="me-2"><use xlink:href="#cart"></use></svg> 
      <span class="badge bg-primary rounded-pill ms-auto">{{ getCartItemsCount() }}</span>
    </h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
  <div class="offcanvas-body d-flex flex-column" style="height: 100%;">
    <ng-container *ngIf="getCartItemsCount() > 0; else emptyCart">
      <div>
        <div class="cart">
          <div class="product-item d-flex align-items-center justify-content-between" *ngFor="let selection of cart?.selections">
            <div class="product-info">
              <h5>{{ selection.productName }}</h5>
              <span class="price">{{ selection.price | currency:"USD":"symbol" }}</span>
            </div>
            <div class="quantity-controls">
              <button type="button" class="btn btn-danger btn-number" data-type="minus"
                      (click)="decreaseQuantity(selection.productId)" [disabled]="selection.quantity <= 1">
                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
              </button>
              <span class="qty">{{ selection.quantity }}</span>
              <button type="button" class="btn btn-success btn-number" data-type="plus"
                      (click)="increaseQuantity(selection.productId)">
                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
              </button>
              <button type="button" class="btn btn-warning btn-remove" (click)="removeProductFromCart(selection.productId)">
                <svg width="16" height="16"><use xlink:href="#trash"></use></svg>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <span class="total-price ms-auto">{{ getTotalPrice() | currency:"USD":"symbol" }}</span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button type="button" class="btn clear-all-btn btn-with-border" (click)="clearCart()">
          Clear cart
        </button>
        <button type="submit" class="btn btn-with-border" [routerLink]="['/checkout']" [disabled]="getCartItemsCount() === 0">
          Continue to checkout
        </button>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="text-center" style="width: 100%; flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        <h4>Cart is empty</h4>
      </div>
    </ng-template>
  </div>
</div>
