<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
  <div class="offcanvas-header" style="display: flex; justify-content: space-between; align-items: unset;">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>

    <h4 class="mb-0 d-flex align-items-center">
      <svg width="24" height="24" class="me-2"><use xlink:href="#cart"></use></svg>
      <span class="badge bg-primary rounded-pill">{{ getTotalPrice() | currency:"USD":"symbol" }}</span>
    </h4>

    <div style="display: flex; justify-content: space-between; align-items: center; gap: 1rem;">
      <a href="#" class="nav-link" (click)="clearCart()" style="margin-right: auto;">
        Clear cart
      </a>
      <a href="#"
         class="nav-link continue-to-checkout"
         [routerLink]="['/checkout']"
         [attr.tabindex]="getCartItemsCount() === 0 ? -1 : null"
         [ngClass]="{'disabled-link': getCartItemsCount() === 0}"
         style="margin-left: auto;">
        Continue to checkout
      </a>
    </div>
  </div>

  <div class="offcanvas-body d-flex flex-column" style="height: 100%;">
    <ng-container *ngIf="getCartItemsCount() > 0; else emptyCart">
      <div>
        <div class="cart">
          <div class="product-item d-flex align-items-center justify-content-between" *ngFor="let selection of cart?.selections">
            <div class="product-info">
              <h5>{{ selection.productName }}</h5>
              <span class="price">{{ selection.price | currency:"USD":"symbol" }}</span>
            </div>
            <div class="quantity-controls">
              <button type="button" class="btn btn-danger btn-number" data-type="minus"
                      (click)="decreaseQuantity(selection.productId)" [disabled]="selection.quantity <= 1">
                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
              </button>
              <span class="qty">{{ selection.quantity }}</span>
              <button type="button" class="btn btn-success btn-number" data-type="plus"
                      (click)="increaseQuantity(selection.productId)">
                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
              </button>
              <button type="button" class="btn btn-warning btn-remove" (click)="removeProductFromCart(selection.productId)">
                <svg width="16" height="16"><use xlink:href="#trash"></use></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyCart>
      <div class="text-center" style="width: 100%; flex-grow: 1; display: flex; justify-content: center; align-items: center;">
        <h4>Cart is empty</h4>
      </div>
    </ng-template>
  </div>
</div>
